 :root{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color:#0e1a40f9;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: 15px;
  margin: auto;
  width: 90%;
  height: 90px;
  background-color: #0e1a40f9;
  font-family: fantasy;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-right: 12em;
  gap: 4em;
  list-style-type: none;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: large;
  color: white; 
}

.navbar h2 {
  color: white;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

}


a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: crimson;
}

.landing {
  border: white 2px solid;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 10%;
  margin-left: 5%;
  padding: 2em;
  height: 50vh;
  width: 50%;
}


.landing h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4.5em;
  margin: 0;
  color: white;
 
}

.landing p {
  font-size: 1.7em;
  color: white;
  line-height:  1.5em;
  
}

.landing img {
  border: white 2px solid;
  display: flex;
  align-items: right;
  justify-content: center;
  width: 250px;
  height: 300px;
  margin-top: 1em;
  margin-left: 75em;
 
}
 

.Footer, Footer p{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0%;
  background-color: #0e1a40f9;
  color: white;
  padding: 1em;
  text-align: center;
}





