 :root{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #0e1a40f9;
}

.navbar {
  display: flex;
  border: solid 1px white;
  background-color: #0e1a40f9;
  width: 90%;
  height: 90px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: fantasy;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-right: 12em;
  gap: 4em;
  list-style-type: none;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: large;
  color: white; 
}
.navbar h2 {
  display: flex;
  border: solid 1px white;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}


a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: crimson;
}


.Footer, Footer p{
  background-color: #0e1a40f9;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  color: white;

  text-align: center;
}





