.resumePage {
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    height: 80vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: start;  
    color: white;
}


.contactInfo {
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    height: 25vh;
    width: 30%;
    flex-direction: column;
    line-height: 1;
    margin-right: auto;
    margin-left: 1%;
 
}

.certifications {
    display: flex;
    flex-direction: column;
    line-height: 1;
    border: solid 1px white;
    height: 60vh;
    width: 30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 1%;
    
}

.education {
    display: flex;
    flex-direction: column;
    line-height: 1;
    border: solid 1px white;
    height: 60vh;
    width: 30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 1%;
    
}

